html,
body {
    padding: 5px;
    margin: 0;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    background: #1b262c;
    color: #bbe1fa;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

pre {
    background: #141f22;
    padding: 10px;
    overflow-x: auto;
}
